<div class="container">
  <mat-card class="card-todo">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let task of tasks" cdkDrag>
        <app-card
          [task]="task"
          (getId)="toggleTodo($event)"
          (getIdDelete)="deleteTodo($event)"
        ></app-card>
      </div>
    </div>
  </mat-card>
  <app-listfooter
    [taskCompleted]="taskCompleted"
    (clearCompleted)="deleteCompleted()"
    (activeTask)="getTaskActive()"
    (completedTask)="getTaskCompleted()"
    (allTask)="getTask()"
  ></app-listfooter>
</div>
