footer {
  background: #111827;
  padding: 1.5rem 0;
  text-align: center;
  color: #aaabb1;
  font-size: 18px;
}

footer a {
  color: #aaabb1;
  margin-left: 15px;
  padding-bottom: 35px;
}

footer a:hover {
  background: transparent;
  color: #28afea;
  border-color: #28afea;
  padding-bottom: 20px;
}

.footer__copyright {
  padding-top: 2rem;
  color: var(--color-bg);
}
