<div
  className="drag"
  style="text-align: center; padding: 10px 10px; color: #a8a8b0"
>
  <p>Drag and drop to reorder list</p>
</div>
<footer>
  <div className="footer__socials" style="padding-bottom: 10px">
    <a href="https://twitter.com/Open_Bootcamp" target="_blank" type="button"
      ><i class="fa-brands fa-twitter"></i
    ></a>
    <a
      href="https://www.instagram.com/openbootcamp_/"
      target="_blank"
      type="button"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a
      href="https://www.linkedin.com/school/openbootcamp-escuela/"
      target="_blank"
      type="button"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a
      href="https://github.com/fabioalcocer/anime-app.git"
      target="_blank"
      type="button"
    >
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
  <div className="footer__copyright">
    <small>&copy; 2022 OpenBootcamp Community™.</small>
  </div>
</footer>
