.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.heading {
  font-size: 28px;
  color: white;
  font-weight: 700;
  width: 100%;
  letter-spacing: 6pt;
}

.title {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.icon {
  border: none;
  outline: none;
  width: 3.12rem;
  height: 3.12rem;
  background-color: inherit;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  align-self: center;
}

.icon-dark {
  background-image: url("../../../assets/icon-sun.svg");
}

.icon-light {
  background-image: url("../../../assets/icon-moon.svg");
}

.theme {
  width: 100%;
  height: 35%;
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
}

.dark-mode {
  background-color: hsl(235, 21%, 11%);
  background-image: url("../../../assets/bg-mobile-dark.jpg");
}
.light-mode {
  background-color: hsl(236, 33%, 92%);
  background-image: url("../../../assets/bg-mobile-light.jpg");
}

@media only screen and (min-width: 650px) {
  .title {
    gap: 20rem;
  }

  .icon {
    width: 6.25rem;
    height: 6.25rem;
  }

  .light-mode {
    background-position: center center;
    background-image: url("../../../assets/bg-desktop-light.jpg");
  }
  .dark-mode {
    background-position: center center;
    background-image: url("../../../assets/bg-desktop-dark.jpg");
  }
}
